@page "/timesheet"
@page "/timesheet/{year:int}/{week:int}"
@attribute [Authorize]

@using YourBrand.Portal.Layouts
@layout MainLayout2

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using YourBrand.TimeReport.Client
@using System.Globalization

@implements IDisposable
@inject ISnackbar Snackbar
@inject IUsersClient UsersClient
@inject ITimeSheetsClient TimeSheetsClient
@inject ITasksClient TasksClient
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

@using Task = System.Threading.Tasks.Task
@using ProjectTask = YourBrand.TimeReport.Client.Task

<AppPageTitle>Timesheet</AppPageTitle>

@if (timeSheet is not null && TasksModels is not null)
{
    var date = DateTime.Now.Date;

    if (Year is null && Week is null)
    {
        Year = date.Year;
        Week = date.GetCurrentWeek();
    }

    <AppPageTitle>Week @Week - @Year</AppPageTitle>

    <MudText Typo="Typo.h5">@timeSheet?.User?.GetDisplayName()</MudText>

    <MudText Typo="Typo.h3" GutterBottom="true">Week @Week - @Year</MudText>

    <div class="mb-4">
        <MudButton Variant="@Variant.Filled" Class="me-2" StartIcon="@Icons.Material.Filled.ChevronLeft" Href="@PreviousWeekLink()">Previous week</MudButton>
        <MudButton Variant="@Variant.Filled" EndIcon="@Icons.Material.Filled.ChevronRight" Href="@NextWeekLink()">Next week</MudButton>
    </div>

    <EditForm Model="@this">
        <ObjectGraphDataAnnotationsValidator />

        <MudTable T="TaskModel" Items="TasksModels" Hover="true" Loading="@isLoading"
                  GroupBy="@_groupDefinition" Elevation="25">

            <ToolBarContent>
                <MudButton Variant="@Variant.Filled" Color="Color.Primary" Class="me-2" StartIcon="@Icons.Material.Filled.Add" OnClick="NewTask" Disabled="timeSheet?.Status != TimeSheetStatus.Open">New task</MudButton>
                <MudButton StartIcon="@Icons.Material.Filled.List" Class="me-2">Templates</MudButton>
                <AuthorizeView Roles="Administrator,Manager" Context="usersList">
                    <UserSelector ServiceKey="@ServiceKeys.UserSearchProviderKey"  Label="User" Variant="Variant.Outlined" Value="User" ValueChanged="OnUserChanged"
                         For="() => User" />
                </AuthorizeView>    
                <MudSpacer />
                @if (CanLockMonth)
                {
                    <MudButton Variant="@Variant.Filled" Color="Color.Primary" Class="me-2" StartIcon="@Icons.Material.Filled.Add" OnClick="LockMonth">Lock month</MudButton>
                }
                <MudText Typo="@Typo.body1" Class="ms-4 me-2"><b>Status:</b> </MudText>
                <MudText Typo="@Typo.body1" Class="me-4">@timeSheet?.Status</MudText>
                @if (timeSheet?.Status == TimeSheetStatus.Open)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Close" @onclick="OnCloseClicked"></MudIconButton>
                }
            </ToolBarContent>

            <HeaderContent>
                <MudTh colspan="2">
                    Task
                </MudTh>
                @foreach (var date in DateTimeHelpers.GetDatesInWeek(Year.GetValueOrDefault(), Week.GetValueOrDefault()))
                {
                    <MudTh>
                        @date.DayOfWeek.ToString().Substring(0, 3)
                        <MudText Typo="Typo.subtitle1">@date.ToShortDateString()</MudText>
                    </MudTh>
                }
                <MudTh>Total</MudTh>
                <MudTh></MudTh>
            </HeaderContent>

            <GroupHeaderTemplate Context="c">
                <MudTh Class="mud-table-cell-custom-group" colspan="11">
                    <MudText Typo="Typo.h6">@($"{((dynamic)c.Key).Name}")</MudText>
                </MudTh>
            </GroupHeaderTemplate>

            @* <GroupFooterTemplate c>
                @foreach(var x in DateTimeHelpers.GetDatesInWeek(Year.GetValueOrDefault(), Week.GetValueOrDefault()))
                {
                    var y = timeSheet.DaySummaries.FirstOrDefault(z => z.Date == x.Date);

                    <MudTd>
                        <MudText Typo="Typo.h6">@y?.Hours h</MudText>
                    </MudTd>
                }
            </GroupFooterTemplate> *@

            <RowTemplate Context="taskLine">
                <MudTd colspan="2" DataLabel="Task">
                    @taskLine.Task.Name
                </MudTd>
                @foreach (var entry in taskLine.Entries)
                {
                    <MudTd DataLabel="@entry.Date.DayOfWeek.ToString()">
                        <div @onclick="() => FocusEntry(taskLine, entry)">
                            <MudNumericField Disabled="@(timeSheet.Status != TimeSheetStatus.Open || entry.Status == EntryStatus.Locked)" T="double?" Class="@((IsWeekend(entry.Date) ? "weekendEntry" : null) + " " + IsEntrySelectedCss(entry))" Immediate="true" DebounceInterval="debounceInterval" Value="entry.Hours" ValueChanged="(value) => OnHoursChanged(value, taskLine, entry)" Variant="Variant.Filled" Margin="Margin.Dense" HideSpinButtons="true" />
                        </div>
                    </MudTd>
                }
                <MudTd DataLabel="Total">
                    <span>@taskLine.TotalHours h</span>
                </MudTd>
                <MudTd>
                    @if (timeSheet?.Status == TimeSheetStatus.Open)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="async () => await DeleteTask(taskLine)" />
                    }
                </MudTd>
            </RowTemplate>

            <FooterContent>
                <MudTh Class="mud-table-cell-custom-group" colspan="2"></MudTh>
                @foreach(var x in DateTimeHelpers.GetDatesInWeek(Year.GetValueOrDefault(), Week.GetValueOrDefault()))
                {
                    var y = timeSheet.DaySummaries.FirstOrDefault(z => z.Date == x.Date);

                    <MudTd>
                        <MudText Typo="Typo.body1">@(y?.Hours ?? 0) h</MudText>
                    </MudTd>
                }
                <MudTd>
                    <MudText Typo="Typo.body1">@TasksModels.Sum(x => x.TotalHours) h</MudText>
                </MudTd>
                <MudTd></MudTd>
            </FooterContent>

            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>

        </MudTable>

        @if (selectedEntry is not null)
        {
            <MudCard Class="mt-4">
                <MudCardContent>
                    <MudText Typo="@Typo.h6" Class="mb-2">@selectedTask.Task.Project.Name: @selectedTask.Task.Name - @selectedEntry.Date.ToShortDateString()</MudText>
                    <MudTextField Disabled="@(timeSheet.Status != TimeSheetStatus.Open || selectedEntry.Status == EntryStatus.Locked)" T="string?" Immediate="true" DebounceInterval="debounceInterval" Value="selectedEntry.Description" ValueChanged="(value) => OnDescriptionChanged(value, selectedTask, selectedEntry)" Variant="Variant.Filled" Label="Description" Lines="3" />
                </MudCardContent>
            </MudCard>
        }
    </EditForm>
}
else 
{
    <LoadingIndicator />
}

@code {

    double debounceInterval = 500;

    bool isLoading = false;
    TimeSheet timeSheet;
    IEnumerable<ProjectTask> tasks = null;

    Portal.User? User { get; set; }
    IEnumerable<Portal.User> Users { get; set; } = null;

    List<TaskModel>? TasksModels { get; } = new List<TaskModel>();

    TaskModel? selectedTask;
    EntryModel? selectedEntry;

    [CascadingParameter(Name = "Organization")]
    public YourBrand.Portal.Services.Organization? Organization { get; set; }

    [Parameter]
    public int? Year { get; set; }

    [Parameter]
    public int? Week { get; set; }

    [SupplyParameterFromQuery(Name = "userId")]
    [Parameter]
    public string? UserId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += OnLocationChanged;

        var user = (await authenticationStateTask).User;

        try
        {
            if(user.IsInRole("Administrator") || user.IsInRole("Manager"))
            {
                // TODO: Fix. The expected user might not be in the result.

                /*
                REMOVE
                var page = await UsersClient.GetUsersAsync(0, 10, null, null, null);
                Users = page.Items;

                User = Users.FirstOrDefault(x => x.Id == user.FindFirst(c => c.Type == "sub").Value); */
            }

            var page2 = await TasksClient.GetTasksAsync(Organization.Id, 0, 10, null, null, null, null, null);
            tasks = page2.Items;
        }
        catch (ApiException<ProblemDetails> e)
        {
            Snackbar.Add(e.Result.Detail, Severity.Error);
            isLoading = false;
            return;
        }
        catch (Exception e)
        {
            Snackbar.Add("Could not load data from server.", Severity.Error);
            return;
        }
        finally 
        {
            isLoading = false;      
        }

        await LoadTimeSheet();

        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    async void OnLocationChanged(object? sender, LocationChangedEventArgs eventArgs)
    {
        await LoadTimeSheet();

        StateHasChanged();
    }

    protected async Task LoadTimeSheet()
    {
        selectedTask = null;
        selectedEntry = null;
        TasksModels.Clear();

        isLoading = true;

        var date = DateTime.Now.Date;

        if (Year is null && Week is null)
        {
            Year = date.Year;
            Week = date.GetCurrentWeek();
        }

        try
        {
            timeSheet = await TimeSheetsClient.GetTimeSheetForWeekAsync(Organization.Id, Year.GetValueOrDefault(), Week.GetValueOrDefault(), UserId ?? User?.Id);

            User = timeSheet.User.ToUser();
            UserId = User.Id;
        }
        catch (ApiException<ProblemDetails> e)
        {
            Snackbar.Add(e.Result.Detail, Severity.Error);
            isLoading = false;
            return;
        }
        catch (Exception e)
        {
            Snackbar.Add("Failed to download timesheet", Severity.Error);
            isLoading = false;
            return;
        }

        foreach (var task in timeSheet.Projects.SelectMany(x => x.Tasks))
        {
            var taskModel = new TaskModel
            {
                Task = tasks.FirstOrDefault(x => x.Id == task.Id)
            };

            task.Entries = task.Entries.OrderBy(x => x.Date).ToList();

            TasksModels.Add(taskModel);

            foreach (var dayDate in DateTimeHelpers.GetDatesInWeek(Year.GetValueOrDefault(), Week.GetValueOrDefault()))
            {
                var entry = task.Entries.FirstOrDefault(x => x.Date.Date == dayDate.Date);

                EntryModel? entryModel = null;

                if (entry is null)
                {
                    var value = timeSheet?.Months.Any(x => dayDate.Month == x.Month && x.IsLocked);

                    entryModel = new EntryModel
                    {
                        Id = null,
                        Date = dayDate,
                        Hours = null,
                        Status = value.GetValueOrDefault() ? EntryStatus.Locked : EntryStatus.Unlocked
                    };

                    taskModel.Entries.Add(entryModel);

                    continue;
                }

                entryModel = new EntryModel
                {
                    Id = entry.Id,
                    Date = entry.Date.Date,
                    Hours = entry.Hours,
                    Description = entry.Description,
                    Status = entry.Status
                };

                taskModel.Entries.Add(entryModel);
            }
        }

        isLoading = false;
    }

    async Task NewTask()
    {
        var user = (await authenticationStateTask).User;

        var userId = user.FindFirst(c => c.Type == "sub").Value;

        DialogParameters parameters = new();
        parameters.Add(nameof(NewTimeSheetTaskDialog.UserId), User?.Id ?? userId);
        parameters.Add(nameof(NewTimeSheetTaskDialog.Year), Year);
        parameters.Add(nameof(NewTimeSheetTaskDialog.Week), Week);

        var dialogRef = DialogService.Show<NewTimeSheetTaskDialog>("New task", parameters);
        var dialogResult = await dialogRef.Result;

        if (dialogResult.Canceled)
            return;

        var obj = (TaskModel)dialogResult.Data; ;

        if (TasksModels.Any(x => x.Task.Id == obj.Task.Id))
        {
            Snackbar.Add("Task has already been added.", Severity.Info);
            return;
        }

        TasksModels.Add(obj);

        foreach (var entryModel in obj.Entries)
        {
            var value = timeSheet?.Months.Any(x => entryModel.Date.Month == x.Month && x.IsLocked);

            Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(value));

            entryModel.Status = value.GetValueOrDefault() ? EntryStatus.Locked : EntryStatus.Unlocked;
        }
    }

    async Task DeleteTask(TaskModel taskLine)
    {
        var result = await DialogService.ShowMessageBox("Delete task?", "This will delete all entries for this task. Are you sure?", "Yes", "No");

        if (!result.GetValueOrDefault())
            return;

        try
        {
            await TimeSheetsClient.DeleteActvityEntriesAsync(Organization.Id, timeSheet.Id, taskLine.Task.Id);

            await LoadTimeSheet();
        }
        catch (ApiException<ProblemDetails> e)
        {
            Snackbar.Add(e.Result.Detail, Severity.Error);
            isLoading = false;
            return;
        }
        catch (Exception)
        {
            Snackbar.Add("Failed to delete task", Severity.Error);
        }
    }

    async Task OnUserChanged(Portal.User user)
    {
        if (user is null) return;

        User = user;
        UserId = user.Id;

        NavigationManager.NavigateTo($"/timesheet/{Year}/{Week}?userId={user.Id}", replace: true); ;
    }

    private TableGroupDefinition<TaskModel> _groupDefinition = new()
    {
        GroupName = "Project",
        Indentation = false,
        Expandable = true,
        Selector = (e) => new { e.Task.Project.Id, e.Task.Project.Name }
    };

    string? IsEntrySelectedCss(EntryModel entry)
    {
        if (entry == selectedEntry) return "selected";

        return null;
    }

    void FocusEntry(TaskModel task, EntryModel entry)
    {
        selectedTask = task;
        selectedEntry = entry;
    }

    string PreviousWeekLink()
    {
        if (Week == 1)
        {
            return $"/Timesheet/{Year - 1}/{52}";
        }

        return $"/Timesheet/{Year}/{Week - 1}";
    }

    string NextWeekLink()
    {
        if (Week == 52)
        {
            return $"/Timesheet/{Year + 1}/{1}";
        }

        return $"/Timesheet/{Year}/{Week + 1}";
    }

    async Task OnHoursChanged(double? value, TaskModel task, EntryModel entry)
    {
        var oldValue = entry.Hours;
        entry.Hours = value;

        StateHasChanged();

        Task.Run(async () =>
        {
            try
            {
                if (entry.Id is null)
                {
                    var a = task.Task;

                    var result = await TimeSheetsClient.CreateEntryAsync(Organization.Id, timeSheet.Id, new CreateEntry
                    {
                        ProjectId = a.Project.Id,
                        TaskId = a.Id,
                        Date = entry.Date,
                        Hours = value,
                        Description = entry.Description
                    });

                    entry.Id = result.Id;

                    Snackbar.Add("Entry was created", Severity.Success);
                }
                else
                {
                    await TimeSheetsClient.UpdateEntryAsync(Organization.Id, timeSheet.Id, entry.Id, new UpdateEntry
                    {
                        Hours = value,
                        Description = entry.Description
                    });

                    Snackbar.Add("Entry was updated", Severity.Success);
                }
            }
            catch (ApiException<ProblemDetails> exc)
            {
                entry.Hours = oldValue;

                Snackbar.Add(exc.Result.Title, Severity.Error);
            }
            catch
            {
                entry.Hours = oldValue;

                Snackbar.Add("Failed to update hours", Severity.Error);
            }

            StateHasChanged();
        });
    }

    async Task OnDescriptionChanged(string? value, TaskModel task, EntryModel entry)
    {
        var oldValue = entry.Description;
        entry.Description = value;

        StateHasChanged();

        Task.Run(async () =>
        {
            try
            {
                if (entry.Id is null)
                {
                    var a = task.Task;

                    var result = await TimeSheetsClient.CreateEntryAsync(Organization.Id, timeSheet.Id, new CreateEntry
                    {
                        ProjectId = a.Project.Id,
                        TaskId = a.Id,
                        Date = entry.Date,
                        Hours = null,
                        Description = value
                    });

                    entry.Id = result.Id;
                }
                else
                {
                    await TimeSheetsClient.UpdateEntryDetailsAsync(Organization.Id, timeSheet.Id, entry.Id, new UpdateEntryDetails
                    {
                        Description = value
                    });
                }
            }
            catch (ApiException<ProblemDetails> e)
            {
                Snackbar.Add(e.Result.Title, Severity.Error);
                isLoading = false;
                return;
            }
            catch
            {
                entry.Description = oldValue;

                Snackbar.Add("Failed to update description", Severity.Error);
            }

            StateHasChanged();
        });
    }

    async Task OnCloseClicked()
    {
        var result = await DialogService.ShowMessageBox("Close week?", "This will close this week's timesheet. Are you sure?", "Yes", "No");

        if (!result.GetValueOrDefault())
            return;
        try
        {
            await TimeSheetsClient.UpdateTimeSheetStatusAsync(Organization.Id, timeSheet.Id, (int)TimeSheetStatus.Closed);

            timeSheet.Status = TimeSheetStatus.Closed;
        }
        catch (ApiException<ProblemDetails> e)
        {
            Snackbar.Add(e.Result.Detail, Severity.Error);
            isLoading = false;
            return;
        }
        catch
        {
            Snackbar.Add("Failed to close week.", Severity.Error);
        }
    }

    async Task LockMonth()
    {
        try
        {
            var result = await DialogService.ShowMessageBox("Lock month?", "This will lock the past month. Are you sure?", "Yes", "No");

            if (!result.GetValueOrDefault())
                return;

            await TimeSheetsClient.LockMonthAsync(Organization.Id, timeSheet.Id);

            // Reload
            await LoadTimeSheet();

            /*
            foreach (var task in TasksModels)
            {
                foreach (var entryModel in task.Entries)
                {
                    var value = timeSheet?.Months.Any(x => entryModel.Date.Month == x.Month);

                    entryModel.Status = value.GetValueOrDefault() ? EntryStatus.Locked : EntryStatus.Unlocked;
                }
            }
            */

            StateHasChanged();
        }
        catch (ApiException<ProblemDetails> e)
        {
            Snackbar.Add(e.Result.Detail, Severity.Error);
            isLoading = false;
            return;
        }
        catch
        {
            Snackbar.Add("Failed to lock month", Severity.Error);
        }
    }

    bool IsWeekend(DateTime date) => date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday;

    bool CanLockMonth
    {
        get
        {
            var entries = TasksModels.SelectMany(a => a.Entries);

            return entries.Any()
                && entries.All(e => e.Status == EntryStatus.Unlocked)
                    && timeSheet.From.Month != timeSheet.To.Month || timeSheet != null
                    && ISOWeek.ToDateTime(Year.GetValueOrDefault(), Week.GetValueOrDefault(), DayOfWeek.Sunday).Day == DateTime.DaysInMonth(timeSheet.To.Year, timeSheet.To.Month);
        }
    }
    }