<div class="d-flex mt-4">
    <div class="col-logo">
        <Logo Src="@Employment.Employer.Logo" Alt="@($"{Employment.Employer.Name} logo")" Class="me-4"
            Href="@Employment.Employer.Link" />
    </div>

    <div class="flex-grow-1">
        <div class="mb-5 mt-3">
            @if (Employment.Roles.Count > 1)
            {
                <div class="d-flex justify-space-between align-center">
                    <MudText Typo="Typo.h5" Class="mb-2 mt-1">
                        @Employment.Employer.Name
                    </MudText>

                    <div>

                    </div>
                </div>

                <RolesList Roles="Employment.Roles.Where(x => x.Assignment is null)" />
            }
            else 
            {
                <div class="d-flex justify-space-between align-center">
                    <MudText Typo="Typo.h5" Class="mb-2 mt-1">
                        @Employment.Roles.First().Title
                    </MudText>

                    <div>

                    </div>
                </div>

                <MudText Typo="Typo.body2">
                    <p>@Employment.Employer.Name • @Employment.EmploymentType</p>
                </MudText>

                <MudText Typo="Typo.body2">
                    <DateDisplay StartDate="@Employment.StartDate" EndDate="@Employment.EndDate" />
                </MudText>

                <MudText Typo="Typo.body2">@(Employment.Roles.FirstOrDefault()?.Location ?? Employment.Location)</MudText>

                <MudText Typo="Typo.body1" Class="mt-4 mb-2">
                @((MarkupString)Employment.Roles.FirstOrDefault()?.Description?.Replace("\n", "<br />"))
                </MudText>
            }
        </div>
    </div>
</div>

@code
{
    [Parameter]
    [EditorRequired]
    public Employment Employment { get; set; } = null!;
}