<div class="flex-grow-1">
    <div class="mb-5">
        <div class="d-flex justify-space-between align-center">
            <MudText Typo="Typo.h6" Class="mb-2 mt-1">
                @Project.Name
            </MudText>

            <div>

            </div>
        </div>

        <MudText Typo="Typo.body2">
            @Project.
        </MudText>


        <MudText Typo="Typo.body2">
            <DateDisplay StartDate="@Project.StartDate" EndDate="@Project.EndDate" />
        </MudText>

        <MudText Typo="Typo.body2">@Project.Location</MudText>

        <MudText Typo="Typo.body1" Class="mt-4 mb-2">
            @((MarkupString)Project.Description?.Replace("\n", "<br />"))
        </MudText>
    </div>
</div>

@code
{
    [Parameter]
    public Project Project { get; set; }
}