@page "/conversations/{ConversationId}"
@attribute [Authorize]
@layout ConversationLayout
@using YourBrand.Messenger.Client
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Diagnostics
@using Humanizer
@implements IAsyncDisposable
@inject IDialogService DialogService
@inject IConversationsClient ConversationsClient
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject YourBrand.Portal.Services.IAccessTokenProvider AccessTokenProvider
@inject YourBrand.Portal.Services.ICurrentUserService CurrentUserService
@inject YourBrand.Portal.Theming.ThemeManager ThemeManager
@inject IJSRuntime JSRuntime
<PageTitle>Chat - YourBrand</PageTitle>

<MudGrid>
    <MudItem xs="12" sm="12" md="12">

        <MudChatSection>
            <Header>
                <MudText Typo="Typo.h6" Class="mt-6 mb-4" Align="Align.Center">Conversation</MudText>
            </Header>

            <ChildContent>
                @foreach (var message in messages)
                {
                    bool isAuthorCurrentUser = userId == message?.SentBy.Id;
                    bool isAuthorizedToEdit = isAuthorCurrentUser;
                    bool isAuthorizedToDelete = isAuthorCurrentUser || isCurrentUserAdmin;

                    int messageIndex = messages.IndexOf(message);
                    MessageModel? previousMessage = null;
                    MessageModel? nextMessage = null;

                    if (messageIndex > 0)
                    {
                        previousMessage = messages[messageIndex - 1];
                    }

                    if (messageIndex < messages.Count - 1)
                    {
                        nextMessage = messages[messageIndex + 1];
                    }

                    bool isFirstMessage = previousMessage == null || !FromSameSender(message, previousMessage);
                    bool isLastMessage = nextMessage == null || !IsSameTime(message, nextMessage) || !FromSameSender(message, nextMessage);

                    bool sameMinutesAsLast = previousMessage == null || IsSameTime(message, previousMessage);

                    <MudMessage id="@($"message-{message.Id}")" @key="@message.Id" Class="@($"{(isFirstMessage || !sameMinutesAsLast ? "first" : String.Empty)} {(isLastMessage ? "last" : string.Empty)}")" IsFooterVisible="@isLastMessage" IsSideContentVisible="@(!IsFromCurrentUser(message))" Position="@(IsFromCurrentUser(message) ? MessagePosition.Right : MessagePosition.Left)">

                        <Header>
                            @if(!IsFromCurrentUser(message) && HasMoreThanTwoParticipants) 
                            {
                                <text>@message.SentBy.GetDisplayName()</text>
                            }
                        </Header>

                        <Footer>
                            @if (isLastMessage)
                            {
                                if (IsFromCurrentUser(message))
                                {
                                    if (message.Receipts.Any(x => x.User.Id != userId))
                                    {
                                        <MudTooltip Text="@(string.Join("\n", message.Receipts.Select(x => x.User.GetDisplayName())))">
                                            @foreach (var receipt in message.Receipts)
                                            {
                                                <MudAvatar Size="Size.Small" Style="height: 1.2em; width: 1.2em; margin-top: 2px; margin-left: 2px; margin-right: 2px">@receipt.User.GetDisplayName().GetInitials()</MudAvatar>
                                            }
                                        </MudTooltip>
                                    }
                                    else
                                    {
                                        <MudIcon Icon="@Icons.Filled.CheckCircle" Size="Size.Small" Style="height: 0.8em; margin-top: 2px;" />
                                    }
                                }
                            }

                            @if (isLastMessage)
                            {
                                var timeSince = message.TimeSinceSent;

                                if (timeSince.TotalMinutes < 30)
                                {
                                    <TimerView Interval="TimeSpan.FromSeconds(0.5)">
                                        <small class="time">
                                            @if (timeSince.TotalMinutes >= 1)
                                            {
                                                <text>@timeSince.Humanize(minUnit: TimeUnit.Minute) ago</text>
                                            }
                                            else
                                            {
                                                <text>Now</text>
                                            }
                                        </small>
                                    </TimerView>
                                }
                                else
                                {
                                    <small>@message.Sent.ToString("HH:mm")</small>
                                }
                            }
                        </Footer>

                        <SideContent>
                            @if (!IsFromCurrentUser(message))
                            {
                                if (isFirstMessage || !sameMinutesAsLast)
                                {
                                    <div class="message-avatar">
                                        <MudAvatar Size="Size.Small">@message.SentBy.GetDisplayName().GetInitials()</MudAvatar>
                                    </div>
                                }
                            }
                        </SideContent>

                        <Content>
                            <MudBubble Class="@(message.Deleted is not null ? "deleted" : string.Empty)" IsDark="IsDark">
                                @if (message.Deleted is not null)
                                {
                                    <p>Message was deleted.</p>
                                }
                                else
                                {
                                    if (message.ReplyTo is not null)
                                    {
                                        <div class="reply-bubble @(message.ReplyTo.Deleted is not null ? "deleted" : string.Empty) @(message.SentBy.Id == userId ? "right" : "left")">
                                            <div>
                                                @if (message.ReplyTo.Deleted is not null)
                                                {
                                                    <p>Message was deleted.</p>
                                                }
                                                else 
                                                {
                                                    <small><b>@message.ReplyTo.SentBy.GetDisplayName()</b></small>
                                                    <p> @message.ReplyTo.Text</p>
                                                }
                                            </div>
                                        </div>
                                    }

                                    <div style="padding-left: 10px; padding-right: 10px;">
                                        @((MarkupString)message.Text.Replace("\n", "<br />"))
                                    </div>

                                    if (message.Edited is not null)
                                    {
                                        <div class="row d-flex" style="height: 20px">
                                            <MudTooltip Text="@(message.Edited?.ToString("g"))">
                                                <MudIcon Icon="@Icons.Filled.Edit" Size="Size.Small" Style="height: 0.8em; margin-top: 3px;" />
                                            </MudTooltip>
                                        </div>
                                    }
                                }
                            </MudBubble>
                        </Content>

                        <Actions>
                            @if (message.Deleted is null)
                            {
                                <MudIconButton Icon="@Icons.Filled.Reply" Style="margin-top: -5px; padding: 10px;" Size="Size.Medium" OnClick="() => ReplyToMessage(message)" />

                                <MudMenu AnchorOrigin="Origin.BottomLeft">
                                    <ActivatorContent>
                                        <MudIconButton Style="margin-top: -5px; padding: 10px;" Icon="@Icons.Filled.MoreVert"
                                                       Variant="Variant.Text" Color="Color.Secondary" />
                                    </ActivatorContent>
                                    <ChildContent>
                                        @if (isAuthorizedToEdit)
                                        {
                                            <MudMenuItem OnClick="() => EditMessage(message)">
                                                <div class="d-flex flex-row flex-grow-1 gap-2">
                                                    <MudIcon Icon="@Icons.Filled.Edit" Size="Size.Medium" />
                                                    Edit
                                                </div>
                                            </MudMenuItem>
                                        }
                                        @if (isAuthorizedToDelete)
                                        {
                                            <MudMenuItem OnClick="async () => await DeleteMessage(message)">
                                                <div class="d-flex flex-row flex-grow-1 gap-2">
                                                    <MudIcon Icon="@Icons.Filled.Delete" Size="Size.Medium" />
                                                    Delete
                                                </div>
                                            </MudMenuItem>
                                        }
                                        <MudMenuItem>
                                            <div class="d-flex flex-row flex-grow-1 gap-2">
                                                <MudIcon Icon="@Icons.Filled.Report" Size="Size.Medium" />
                                                Report
                                            </div>
                                        </MudMenuItem>
                                    </ChildContent>
                                </MudMenu>
                            }
                        </Actions>
                    </MudMessage>
                }
            </ChildContent>
        </MudChatSection>

        <div style="height: 90px"></div>

        @* <div>
                <MudText Typo="Typo.subtitle2" Class="mt-6 mb-4" Align="Align.Center">Conversation ended 11:37</MudText>
            </div> *@
    </MudItem>

    <MudItem xs="12" sm="12" md="4">

    </MudItem>
</MudGrid>

<div class="bottom @ThemeClass">
    @if (replyToMessage is not null)
    {
        <div class="reply-bubble @(replyToMessage.SentBy.Id == userId ? "right" : "left")" style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
            <div class="d-flex justify-space-between" style="padding-top: 4px">
                <small><b>@replyToMessage.SentBy.GetDisplayName()</b></small>
                <MudIconButton Icon="@Icons.Filled.Cancel" Size="Size.Small" OnClick="() => replyToMessage = null" />
            </div>
            <div>
                @replyToMessage.Text
            </div>
        </div>
    }
    @if (editMessage is not null)
    {
        <div class="d-flex flex-grow-1 gap-4">
            <MudText Typo="Typo.h6">Editing</MudText>
            <MudIconButton Icon="@Icons.Filled.Cancel" Size="Size.Small" OnClick="() => { editMessage = null; text = string.Empty; }" />
        </div>
    }
    <div class="d-flex flex-grow-1 gap-4">
        <div class="flex-auto d-flex" style="width: 100%">
            <MudTextField @bind-Value="text" Variant="Variant.Filled" Class="rounded-lg" Lines="2"></MudTextField>
        </div>
        <div class="flex-auto d-flex" style="width: 81px">
            <MudIconButton Variant="Variant.Filled" Color="Color.Primary" Icon="@Icons.Filled.Send" Class="mt-2" Style="border-radius: 50%; padding: 15px; height: 70px; width: 70px;" OnClick="Post" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ConversationId { get; set; } = null!;

    HubConnection hubConnection;

    public bool IsDark { get; set; } = true;

    public string ThemeClass => IsDark ? "dark" : string.Empty;

    string userId;
    MessageModel? replyToMessage;
    MessageModel? editMessage;

    List<MessageModel> messages = new List<MessageModel>();

    bool IsFromCurrentUser(MessageModel message)
    {
        return message.SentBy.Id == userId;
    }

    bool FromSameSender(MessageModel m1, MessageModel m2)
    {
        return m1.SentBy.Id == m2.SentBy.Id;
    }

    bool IsSameTime(MessageModel m1, MessageModel m2)
    {
        return m1.Sent.Date == m2.Sent.Date
            && (m1.Sent.Hour == m2.Sent.Hour
                && m1.Sent.Minute == m2.Sent.Minute);
    }

    async Task DeleteMessage(MessageModel message)
    {
        var result = await DialogService.ShowMessageBox("Delete message", "Are you sure?", "Yes", "No");
        if (result.GetValueOrDefault())
        {
            await hubConnection.SendAsync("DeleteMessage", ConversationId, message.Id);
        }
    }

    void ReplyToMessage(MessageModel message)
    {
        editMessage = null;
        replyToMessage = message;
        text = string.Empty;
    }

    void EditMessage(MessageModel message)
    {
        replyToMessage = null;
        editMessage = message;
        text = message.Text;
    }

    bool isCurrentUserAdmin;

    protected override async Task OnInitializedAsync()
    {
        IsDark = ThemeManager.CurrentColorScheme == Portal.Theming.ColorScheme.Dark;

        ThemeManager.ColorSchemeChanged += (s, e) => {
            IsDark = e.ColorScheme == Portal.Theming.ColorScheme.Dark;
            //Console.WriteLine(IsDark);
            StateHasChanged();
        };

        userId = await CurrentUserService.GetUserId();
        isCurrentUserAdmin = await CurrentUserService.IsUserInRole(YourBrand.Portal.Roles.Administrator);

        try
        {
            hubConnection = new HubConnectionBuilder().WithUrl($"{NavigationManager.BaseUri}api/messenger/hubs/messages?conversationId={ConversationId}", options =>
            {
                options.AccessTokenProvider = async () =>
                {
                    return await AccessTokenProvider.GetAccessTokenAsync();
                };
            }).WithAutomaticReconnect().Build();

            hubConnection.On<UserDto2>("UserJoined", OnUserJoined);
            hubConnection.On<MessageDto>("MessageReceived", OnMessageReceived);
            hubConnection.On<MessageEditedDto>("MessageEdited", OnMessageEdited);
            hubConnection.On<ReceiptDto>("MessageRead", OnMessageRead);
            hubConnection.On<MessageDeletedDto>("MessageDeleted", OnMessageDeleted);
            hubConnection.On<UserDto2>("UserLeft", OnUserLeft);

            hubConnection.Closed += (error) =>
            {
                if (error is not null)
                {
                    Snackbar.Add($"{error.Message}", Severity.Error);
                }

                Snackbar.Add("Connection closed");
                return Task.CompletedTask;
            };
            hubConnection.Reconnected += (error) =>
            {
                Snackbar.Add("Reconnected");
                return Task.CompletedTask;
            };
            hubConnection.Reconnecting += (error) =>
            {
                Snackbar.Add("Reconnecting");
                return Task.CompletedTask;
            };
            await hubConnection.StartAsync();
            Snackbar.Add("Connected");
        }
        catch (Exception exc)
        {
            Snackbar.Add(exc.Message.ToString(), Severity.Error);
        }

        StateHasChanged();

        await LoadItems(30);

        await JSRuntime.InvokeVoidAsync("helpers.attachScrollEventHandler", DotNetObjectReference.Create(this));

        await JSRuntime.InvokeVoidAsync("helpers.scrollToBottom");
    }

    void OnUserJoined(UserDto2 dto)
    {
        Snackbar.Add($"{dto.User} has joined the conversation.");

        StateHasChanged();
    }

    void OnUserLeft(UserDto2 dto)
    {
        Snackbar.Add($"{dto.User} has left the conversation.");

        StateHasChanged();
    }

    async Task OnMessageReceived(MessageDto dto)
    {
        var model = new MessageModel()
        {
            Id = dto.Id!,
            ReplyTo = dto.ReplyTo,
            SentBy = dto.SentBy,
            Text = dto.Text!,
            Receipts = dto.Receipts?.ToList() ?? new List<ReceiptDto>(),
            Sent = dto.Sent.DateTime
        };

        if (model.ReplyTo is null)
        {
            if (model.SentBy.Id == userId)
            {
                await JSRuntime.InvokeVoidAsync("helpers.scrollToBottom");
            }
            else
            {
                // TODO: Only display when outside viewport

                Snackbar.Add($"{model.SentBy.GetDisplayName()} said: \"{model.Text}\"", Severity.Normal, options =>
                {
                    options.Onclick = async (sb) =>
                    {
                        await JSRuntime.InvokeVoidAsync("helpers.scrollToBottom");
                    };
                });
            }
        }
        else
        {
            //Console.WriteLine("Reply");

            var parent = messages.First(x => x.Id == model.ReplyTo.Id);
            parent.Replies.Add(model);
        }

        messages.Add(model);

        this.skip++;
        this.total++;

        if (dto.SentBy.Id != userId)
        {
            //Console.WriteLine("Send message read");

            await hubConnection.SendAsync("MessageRead", ConversationId, dto.Id);
        }

        StateHasChanged();
    }

    async Task OnMessageEdited(MessageEditedDto dto)
    {
        var message = messages.FirstOrDefault(x => x.Id == dto.Id);

        if (message is not null)
        {
            message.Text = dto.Text;
            message.Edited = dto.Edited;

            StateHasChanged();
        }
    }

    async Task OnMessageRead(ReceiptDto dto)
    {
        //Console.WriteLine("Receive message read");

        var message = messages.FirstOrDefault(x => x.Id == dto.MessageId);

        if (message is not null)
        {
            //Console.WriteLine("Add message read");

            message.Receipts.Add(dto);

            StateHasChanged();
        }
    }

    void OnMessageDeleted(MessageDeletedDto dto)
    {
        var message = messages.FirstOrDefault(x => x.Id == dto.Id);

        if (message is not null)
        {
            message.Text = String.Empty;
            message.Deleted = DateTime.Now;

            StateHasChanged();
        }

        var replies = messages
            .Where(x => x.ReplyTo is not null && x.ReplyTo.Id == dto.Id)
            .Select(x => x.ReplyTo);

        foreach(var reply in replies) 
        {
            reply.Text = String.Empty;
            reply.Deleted = DateTime.Now;
        }
        
        StateHasChanged();
    }

    public record Point(double X, double Y);

    double lastY = 9999;
    double threshold = 900;

    [JSInvokable("OnScroll")]
    public async Task OnScroll(Point args)
    {
        if (Math.Round(args.Y) % 10 != 0)
        {
            return;
        }

        if (args.Y < lastY)
        {
            Debug.WriteLine(args);

            if (args.Y <= threshold)
            {
                if (messages.Count < total)
                {
                    await LoadItemsIncr(30);
                }
            }
        }

        lastY = args.Y;
    }

    int skip = 0;
    int total = 0;

    async Task LoadItems(int take = 10)
    {
        messages.Clear();

        this.skip = 0;
        await LoadItemsCore(take);
    }

    ConversationDto conversation;

    public bool HasMoreThanTwoParticipants => conversation.Participants.Count() > 2;

    async Task LoadItemsCore(int take = 10)
    {
        conversation = await ConversationsClient.GetConversations2Async(ConversationId);
        var results = await ConversationsClient.GetMessagesAsync(ConversationId, this.skip, take, null!, null);
        total = results.TotalCount;
        this.skip += results.Items.Count;

        foreach (var dto in results.Items)
        {
            var message = new MessageModel()
            {
                Id = dto.Id,
                ReplyTo = dto.ReplyTo,
                SentBy = dto.SentBy,
                Text = dto.Text!,
                Receipts = dto.Receipts.ToList(),
                Sent = dto.Sent.DateTime,
                Deleted = dto.Deleted?.DateTime,
                Edited = dto.LastModified?.DateTime
            };

            messages.Insert(0, message);

            if (dto.SentBy.Id != userId && !message.Receipts.Any(x => x.User.Id == userId))
            {
                await hubConnection.SendAsync("MessageRead", ConversationId, dto.Id);
            }
        }

        StateHasChanged();
    }

    bool loading;

    async Task LoadItemsIncr(int take = 10)
    {
        if (loading)
        {
            return;
        }

        try
        {
            loading = true;

            if (messages.Count == total)
            {
                return;
            }

            Debug.WriteLine(total);
            Debug.WriteLine(skip);

            await LoadItemsCore(take);
        }
        finally
        {
            loading = false;
        }
    }

    public class UserDto2
    {
        public string User { get; set; } = null!;
        public string? UserId { get; set; }
    }

    public class MessageDeletedDto
    {
        public string? Id { get; set; }
    }

    public class MessageEditedDto
    {
        public string? Id { get; set; }

        public string Text { get; set; }

        public DateTime Edited { get; set; }
    }

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }

    async Task Post()
    {
        if (string.IsNullOrEmpty(text))
        {
            return;
        }

        MessageDto message;

        if (editMessage is not null)
        {
            //message = await ConversationsClient.PostMessageAsync(text, replyToMessage?.Id);

            await hubConnection.SendAsync("EditMessage", ConversationId, editMessage.Id, text);
        }
        else
        {
            message = await ConversationsClient.PostMessageAsync(ConversationId, text, replyToMessage?.Id);

            //Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(message));

            await OnMessageReceived(message);
        }

        text = string.Empty;

        replyToMessage = null;
        editMessage = null;
    }

    string text;

    public class Section
    {
        public string Id { get; set; } = null!;

        public string? Header { get; set; }

        public List<MessageModel> Messages { get; set; } = new List<MessageModel>();
    }


    public class MessageModel
    {
        public string Id { get; set; } = null!;

        public ReplyToMessageDto? ReplyTo { get; set; }

        public UserDto SentBy { get; set; } = null!;

        public string Text { get; set; } = null!;

        public List<ReceiptDto> Receipts { get; set; } = new List<ReceiptDto>();

        public List<MessageModel> Replies { get; set; } = new List<MessageModel>();

        public DateTime Sent { get; set; }

        public DateTime? Deleted { get; set; }

        public DateTime? Edited { get; set; }

        public TimeSpan TimeSinceSent => DateTime.Now - Sent;
    }
}