@page "/meetings/new"

@using System.ComponentModel.DataAnnotations
@using YourBrand.Portal.Services
@inject IMeetingsClient MeetingsClient
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject IOrganizationProvider OrganizationProvider
@implements IDisposable

<AppPageTitle>Create meeting</AppPageTitle>

<MudText Typo="@Typo.h2" GutterBottom="true">Create meeting</MudText>

<EditForm EditContext="@context" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <MudGrid>

        <MudItem xs="12" md="6">
            <MudPaper Elevation="25" Class="pa-4 mb-4">
                <MudText Typo="@Typo.h4" GutterBottom="true">Details</MudText>

                <MudTextField Label="Title" Variant="Variant.Outlined" Class="mt-4" @bind-Value="Title"
                    For="@(() => Title)" Immediate="true" />
                <div class="d-flex gap-4">
                    <MudDatePicker Label="Date" Variant="Variant.Outlined" Class="mt-4" @bind-Date="Date"
                        For="@(() => Date)" />
                    <MudTimePicker Label="Time" Variant="Variant.Outlined" Class="mt-4" @bind-Time="Time"
                        For="@(() => Time)" />
                </div>
                <MudTextField Label="Location" Variant="Variant.Outlined" Class="mt-4" @bind-Value="Location"
                    For="@(() => Location)"  Immediate="true" />
                <MudTextField Label="Description" Variant="Variant.Outlined" Class="mt-4" @bind-Value="Description"
                    For="@(() => Description)" Immediate="true" Lines="5" />
                <MudNumericField Label="Quorum" Variant="Variant.Outlined" Class="mt-4" @bind-Value="QuorumRequiredNumber"
                    For="@(() => QuorumRequiredNumber)" Immediate="true" HelperText="Required number of attendees" />
            </MudPaper>
        </MudItem>

        <MudItem xs="12" md="6">
            <MudPaper Elevation="25" Class="pa-4 mb-4">
                <MudText Typo="@Typo.h4" GutterBottom="true">Attendees</MudText>

                <MudTable T="AddEditAttendeeViewModel" Items="Attendees" Dense="true" Hover="true" Elevation="0"
                    Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info"
                    OnRowClick="async (e) => await EditAttendee(e.Item)">
                    <ToolBarContent>
                        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add"
                            OnClick="AddAttendee" Class="mb-2">Add attendee</MudButton>
                    </ToolBarContent>

                    <HeaderContent>
                        <MudTh>Name</MudTh>
                        <MudTh>Email</MudTh>
                        <MudTh>UserId</MudTh>
                        <MudTh>Has Voting Rights</MudTh>
                        <MudTh></MudTh>
                    </HeaderContent>
                    <RowTemplate Context="attendee">
                        <MudTd DataLabel="Name">@attendee.Name</MudTd>
                        <MudTd DataLabel="Email">@attendee.Email</MudTd>
                        <MudTd DataLabel="UserId">@attendee.User?.Id</MudTd>
                        <MudTd DataLabel="HasVotingRights">@(attendee.HasVotingRights ? "Yes" : "No")</MudTd>
                        <MudTd>
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small"
                                OnClick="() => EditAttendee(attendee)">
                            </MudIconButton>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small"
                                OnClick="() => RemoveAttendee(attendee)">
                            </MudIconButton>
                        </MudTd>
                    </RowTemplate>
                    <LoadingContent>
                        <MudText>Loading...</MudText>
                    </LoadingContent>
                </MudTable>
            </MudPaper>
        </MudItem>

    </MudGrid>

    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="() => {}">Cancel</MudButton>
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
        Create
    </MudButton>
</EditForm>

@code
{
    EditContext context = null!;

    [Required]
    public string Title { get; set; }

    [Required]
    public DateTime? Date { get; set; } = DateTime.Now;

    [Required]
    public TimeSpan? Time { get; set; } = DateTime.Now.TimeOfDay;

    [Required]
    public string Location { get; set; }

    public string Description { get; set; }

    [Required]
    public int QuorumRequiredNumber { get; set; }

    public List<AddEditAttendeeViewModel> Attendees { get; set; } = new List<AddEditAttendeeViewModel>();

    protected override async Task OnInitializedAsync()
    {
        context = new EditContext(this);

        organization = await OrganizationProvider.GetCurrentOrganizationAsync()!;

        OrganizationProvider.CurrentOrganizationChanged += OnCurrentOrganizationChanged;
    }

    YourBrand.Portal.Services.Organization organization = default!;

    private async void OnCurrentOrganizationChanged(object? sender, EventArgs ev)
    {
        organization = await OrganizationProvider.GetCurrentOrganizationAsync()!;
    }

    public async Task OnValidSubmit()
    {
        var meeting = await MeetingsClient.CreateMeetingAsync(organization.Id, new CreateMeeting
            {
                Title = Title,
                ScheduledAt = Date.GetValueOrDefault().Add(Time.GetValueOrDefault()),
                Location = Location,
                Description = Description,
                Quorum = new CreateMeetingQuorum
                {
                    RequiredNumber = QuorumRequiredNumber
                },
                Attendees = Attendees.Select(model => {
                    return new CreateMeetingAttendee
                    {
                        Name = model.Name,
                        Role = model.Role,
                        Email = model.Email,
                        UserId = model.User?.Id,
                        HasVotingRights = model.HasVotingRights
                    };
                }).ToList()
            });

        NavigationManager.NavigateTo($"/meetings/{meeting.Id}");
    }

    async Task AddAttendee()
    {
        DialogParameters parameters = new();
        parameters.Add(nameof(AddEditAttendeeDialog.OrganizationId), organization.Id);

        var modalRef = DialogService.Show<AddEditAttendeeDialog>("Add attendee", parameters);

        var result = await modalRef.Result;

        if (result.Canceled) return;

        var model = (AddEditAttendeeViewModel)result.Data;

        Attendees.Add(model);
    }

    async Task EditAttendee(AddEditAttendeeViewModel attendee)
    {
        var originalAttendee = attendee;

        DialogParameters parameters = new();
        parameters.Add(nameof(AddEditAttendeeDialog.OrganizationId), organization.Id);
        parameters.Add(nameof(AddEditAttendeeDialog.Model), originalAttendee.Clone());

        var modalRef = DialogService.Show<AddEditAttendeeDialog>("Edit attendee", parameters);

        var result = await modalRef.Result;

        if (result.Canceled) return;

        var updatedModel = (AddEditAttendeeViewModel)result.Data;

        var index = Attendees.IndexOf(originalAttendee);
        Attendees[index] = updatedModel;
    }

    async Task RemoveAttendee(AddEditAttendeeViewModel attendee)
    {
        var r = await DialogService.ShowMessageBox("Delete attendee?", "This can't be undone. You will have to manually add again.", "Delete", "Cancel");

        if(!r.GetValueOrDefault()) 
        {
            return;
        }

        Attendees.Remove(attendee);
    }

    public void Dispose()
    {
        OrganizationProvider.CurrentOrganizationChanged -= OnCurrentOrganizationChanged;
    }
}