<div class="input-group mr-sm-2 @Class" @attributes="AdditionalAttributes">
    <button class="btn btn-outline-secondary @ButtonClass" @onclick="async () => await SetValue(Value - 1)">-</button>
    <input type="number" min="@MinValue" max="@MaxValue" class="form-control"
        style="width: 50px; border: 1px solid; border-radius: 0;" value="@Value"
        @oninput="async (e) => await SetValue(int.Parse(e.Value.ToString()))" />
    <button class="btn btn-outline-secondary @ButtonClass" @onclick="async () => await SetValue(Value + 1)">+</button>
</div>

@code {
    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public int MinValue { get; set; } = 1;

    [Parameter]
    public int MaxValue { get; set; } = 50;

    [Parameter]
    public string? Class { get; set; } = null;

    [Parameter]
    public string? ButtonClass { get; set; } = null;

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; } = null!;

    private async Task SetValue(int value)
    {
        if (value >= MinValue && value <= MaxValue)
        {
            Value = value;
            await ValueChanged.InvokeAsync(value);

            StateHasChanged();
        }
    }
}