@using ChatApp.Theming
@inject IDialogService DialogService
@inject IThemeManager ThemeManager
@inject IStringLocalizer<AppBar> T

<MudAppBar Elevation="25">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                   OnClick="@(async (e) => await DrawerToggleCallback.InvokeAsync())" />
    @*
    <a href="/">
        <img style="height: 30px; width: auto;" class="mt-1" src="logo.svg" />
    </a>
    *@
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudText Typo="Typo.h5" Class="ms-2"><b>@T["Todo"]</b></MudText>
    </MudHidden>
    <MudSpacer />
    <ThemeSelector />
    <LoginDisplay />
    <MudMenu Dense="true" Color="Color.Inherit" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter"
             PopoverClass="docs-layout-menu-shadow" ListClass="pa-2 docs-menu-list" LockScroll="true">
        <ActivatorContent>
            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" Class="mr-2" />
        </ActivatorContent>
        <ChildContent>
            <MudMenuItem OnClick="ChangeLocale">
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Language" class="me-2" />
                    <MudText Style="overflow: hidden; white-space: nowrap;">@T["ChangeLocale"]</MudText>
                </div>
            </MudMenuItem>
        </ChildContent>
    </MudMenu>
    <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor/" Target="_blank" />
</MudAppBar>

@code {
    ColorScheme? _currentColorScheme;
    private DialogOptions _dialogOptions = new()
    {
        Position = DialogPosition.TopCenter,
        MaxWidth = MaxWidth.Medium,
        NoHeader
    = true
    };

    [Parameter]
    public EventCallback DrawerToggleCallback { get; set; }

    protected override void OnInitialized()
    {
        ThemeManager.ColorSchemeChanged += OnColorSchemeChanged;
        _currentColorScheme = ThemeManager.CurrentColorScheme;
    }

    private void OnColorSchemeChanged(object? sender, ColorSchemeChangedEventArgs e)
    {
        _currentColorScheme = e.ColorScheme;

        StateHasChanged();
    }

    async Task ChangeLocale()
    {
        var dialogRef = DialogService.Show<CultureSelector>(T["ChangeLocale"]);
        await dialogRef.Result;
    }
}