@using System.Linq.Expressions
@inject ITeamsClient TeamsClient
@inject IDialogService DialogService

<div class="d-flex flex-grow-1">
    <div class="flex-1 d-flex">
        <MudAutocomplete T="TeamDto" Label="@Label" Dense="true" Variant="Variant" Style="@Style" Class="@Class" Value="Value" ValueChanged="ValueChanged"
            For="For" SearchFunc="SearchTeams" ToStringFunc="(x) => x.Name"
            ResetValueOnEmptyText="true" CoerceText="false" CoerceValue="false">
            <ItemTemplate Context="context2">
                <MudText Typo="Typo.body1">@context2.Name</MudText>
                @*<MudText Typo="Typo.body2">@context2.Ca</MudText> *@
            </ItemTemplate>

            <ItemSelectedTemplate Context="context2">
                <MudText Typo="Typo.body1">@context2.Name</MudText>
            </ItemSelectedTemplate>
        </MudAutocomplete>
    </div>
    
    @if(ShowAddButton) 
    {
        <MudIconButton Icon="@Icons.Filled.Add" OnClick="AddTeam" />
    }
</div>

@code {
    [Parameter]
    public string Label { get; set; } = "Team";

    [Parameter]
    public TeamDto Value { get; set; }

    [Parameter]
    public EventCallback<TeamDto> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<TeamDto>> For { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public Variant Variant { get; set; }

    [Parameter]
    public bool ShowAddButton { get; set; }

    async Task<IEnumerable<TeamDto>> SearchTeams(string text)
    {
        try
        {
            var results = await TeamsClient.GetTeamsAsync(0, 10, text, null, null);
            return results.Items;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        return null;
    }

    async Task AddTeam() 
    {
        try
        {
            var parameters = new DialogParameters();

            var type = System.Reflection.Assembly.Load("Showroom.UI")
                .GetType("YourBrand.Showroom.Teams.TeamDialog");

            var dialogReference = DialogService.Show(type, "New Team", parameters, new DialogOptions {
                //FullScreen = true,
                MaxWidth = MaxWidth.ExtraLarge
            });

            var result = await dialogReference.Result;

            if(result.Cancelled)
                return;

            Value = (TeamDto)result.Data;

            await ValueChanged.InvokeAsync(Value);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}