@using System.Linq.Expressions
@inject IStoresClient StoresClient
@inject IDialogService DialogService
@using YourBrand.Catalog

<div class="d-flex flex-grow-1">
    <div class="flex-1 d-flex">
        <MudAutocomplete T="Store" Label="@Label" Dense="true" Variant="Variant" Style="@Style" Class="@Class"
            Value="Value" ValueChanged="ValueChanged" For="For" SearchFunc="SearchStores" ToStringFunc="(x) => x.Name"
            ResetValueOnEmptyText="true" CoerceText="false" CoerceValue="false">
            <ItemTemplate Context="context2">
                <MudText Typo="Typo.body1">@context2.Name</MudText>
            </ItemTemplate>

            <ItemSelectedTemplate Context="context2">
                <MudText Typo="Typo.body1">@context2.Name</MudText>
            </ItemSelectedTemplate>
        </MudAutocomplete>
    </div>

    @if (ShowAddButton)
    {
        <MudIconButton Icon="@Icons.Filled.Add" OnClick="AddStores" />
    }
</div>

@code {
    [Parameter]
    public string Label { get; set; } = "Store";

    [Parameter]
    public Store Value { get; set; }

    [Parameter]
    public EventCallback<Store> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<Store>> For { get; set; }

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public Variant Variant { get; set; }

    [Parameter]
    public string StoresAreaId { get; set; }

    [Parameter]
    public bool ShowAddButton { get; set; }

    async Task<IEnumerable<Store>> SearchStores(string text)
    {
        //try
        //{
        var results = await StoresClient.GetStoresAsync(0, 10, text, null, null);
        return results.Items;
        /*}
        catch (AccessTokenNotAvailableException exception)
        {
        exception.Redirect();
        }*/

        return null;
    }

    async Task AddStores()
    {
        /*try
        {*/
        var parameters = new DialogParameters();

        var type = System.Reflection.Assembly.Load("Showroom.UI")
        .GetType("YourBrand.Catalog.Stores.StoresDialog");

        var dialogReference = DialogService.Show(type, "New Stores", parameters, new DialogOptions
            {
                //FullScreen = true,
                MaxWidth = MaxWidth.ExtraLarge
            });

        var result = await dialogReference.Result;

        if (result.Cancelled)
            return;

        Value = (Store)result.Data;

        await ValueChanged.InvokeAsync(Value);
        /*}
        catch (AccessTokenNotAvailableException exception)
        {
        exception.Redirect();
        }*/
    }
}