@using YourBrand.Showroom.Client

@foreach (var employment in Employments)
{
<div style="page-break-inside: avoid;">
    <div class="d-flex mt-4">
        <div class="col-logo">
            <Logo Src="@employment.Employer.Logo" Alt="@($"{@employment.Employer.Name} logo")" Class="me-4"
                Href="@employment.Employer.Link" />
        </div>

            <div class="flex-grow-1 mb-5 mt-3">
            <MudText Typo="Typo.h5" Class="mb-2">
                @employment.Employer.Name
            </MudText>

            <p class="text-muted meta mb-5">
                @employment.EmploymentType • @employment.Location<br />
                @employment.StartDate.ToString("MMMM yyyy") - @(employment.EndDate?.ToString("MMMM yyyy") ??
                "Now") • @employment.StartDate.Date.Humanize2(employment.EndDate?.Date ??
                DateTime.Now.Date)
            </p>

            <MudText Typo="Typo.body1" Class="mt-4 mb-2">
                @((MarkupString)employment.Description?.Replace("\n", "<br />"))
            </MudText>
        </div>
    </div>

</div>


    @if (Employments.LastOrDefault() != employment)
    {
        <hr />
    }
}

@code {
    [Parameter]
    [EditorRequired]
    public IEnumerable<Employment> Employments { get; set; } = null!;

    [Parameter]
    public EventCallback<Employment> AddOrEditEmployment { get; set; }

    [Parameter]
    public EventCallback<Employment> DeleteEmployment { get; set; }
}