@using System.ComponentModel.DataAnnotations
@inject IPersonProfilesClient PersonProfilesClient
@inject ISnackbar Snackbar

<div style="width: 350px; max-width: 350px;">
    <EditForm Model="@this" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudDialog>
            <DialogContent>
                <MudTextField Label="Title" Variant="Variant.Outlined"
                              @bind-Value="Title" For="@(() => Title)" />

                <CompanySelector Variant="Variant.Outlined" Class="mb-2" @bind-Value="Company" For="() => Company" ShowAddButton="true" />

                <MudTextField Label="Location" Class="mb-2" Variant="Variant.Outlined"
                              @bind-Value="Location" For="@(() => Location)" />
                <MudSelect Label="Employment Type" Variant="Variant.Outlined" Class="mb-2" @bind-Value="EmploymentType" For="() => EmploymentType">
                    @foreach(var optionType in Enum.GetValues<EmploymentType>())
                    {
                        <MudSelectItem Value="@optionType">@(optionType.GetAttribute<DisplayAttribute>()!.Name)</MudSelectItem>
                    }     
                </MudSelect>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="6">
                        <MudDatePicker Label="Start date" Variant="Variant.Outlined" @bind-Date="StartDate" For="@(() => StartDate)" Class="mb-2" />
                    </MudItem>

                    <MudItem xs="12" sm="6" md="6">
                        <MudDatePicker Label="End date" HelperText="Optional" Variant="Variant.Outlined" @bind-Date="EndDate" For="@(() => EndDate)" Class="mb-2" />
                    </MudItem>
                </MudGrid>
                <MudTextField Label="Description" Lines="5" Variant="Variant.Outlined" Class="mb-2"
                              @bind-Value="Description" For="@(() => Description)" />
            </DialogContent>
            <DialogActions>
                <MudButton Variant="Variant.Text" Color="Color.Secondary" OnClick="() => Dialog.Cancel()">Cancel</MudButton>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" Color="Color.Primary">Add</MudButton>
            </DialogActions>
        </MudDialog>

    </EditForm>
</div>

@code
{
    [CascadingParameter]
    public MudDialogInstance Dialog { get; set; } = null!;

    [Parameter]
    public string PersonProfileId { get; set; } = null!;

    [Parameter]
    public Employment? Employment { get; set; }

    [Required]
    public string Title { get; set; }

    [Required]
    public Company Company { get; set; }

    [Required]
    public string Location { get; set; }

    [Required]
    public EmploymentType EmploymentType { get; set; }

    [Required]
    public DateTime? StartDate { get; set; }

    public DateTime? EndDate { get; set; }

    [MaxLength(1024)]
    public string? Description { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Employment is not null)
        {
            //Title = Employment.Title;
            Company = Employment.Employer;
            //Location = Employment.Location;
            EmploymentType = Enum.Parse<EmploymentType>(Employment.EmploymentType);
            StartDate = Employment.StartDate.Date;
            EndDate = Employment.EndDate?.Date;
        }
    }
    
    public async Task OnValidSubmit()
    {
        if (Employment is null)
        {
            /*
            await PersonProfilesClient.AddEmploymentAsync(PersonProfileId, new CreateEmployment
            {
                Title = Title,
                CompanyId = Company.Id,
                Location = Location,
                EmploymentType = EmploymentType.ToString(),
                StartDate = StartDate.GetValueOrDefault().Date,
                EndDate = EndDate,
                Description = Description
            });
            */
        }
        else
        {
            /*
            await PersonProfilesClient.UpdateEmploymentAsync(PersonProfileId, Employment.Id, new UpdateEmployment
            {
                Title = Title,
                CompanyId = Company.Id,
                Location = Location,
                EmploymentType = EmploymentType.ToString(),
                StartDate = StartDate.GetValueOrDefault().Date,
                EndDate = EndDate,
                Description = Description
            });
            */
        }

        Dialog.Close(DialogResult.Ok(true));
    }
}