@page "/consultants/{Id}"
@attribute [Authorize]
@using Humanizer
@using Skynet.Showroom.Consultants.Profile.Experiences
@using Skynet.Showroom.Consultants.Profile.Skills
@inject IConsultantsClient ConsultantsClient
@inject NavigationManager NavigationManager
@inject IDialogService DialogService

@if (consultant is null)
{
    @if(loadingFailed) 
    {
        <MudText Typo="Typo.h3" Class="mb-4">Erro when loading profile.</MudText>
    }
    else 
    {
        <LoadingIndicator />
    }
}
else
{
<div class="d-flex justify-center mb-4">
    <ProfileImage ConsultantProfile="consultant" IsEditable="true" />
</div>
    <div class="d-flex justify-center">
        <MudText Typo="Typo.h3" Class="mb-4">
            @if (@consultant.DisplayName != null)
            {@consultant.DisplayName }
        else
        { <text>@consultant.FirstName @consultant.LastName</text>}
        </MudText>
    </div>
    <div class="d-flex justify-center mb-4">
        <HeadlineSection ConsultantProfile="consultant" />
    </div>

    <MudGrid Spacing="3">
        @if (!string.IsNullOrEmpty(consultant.ProfileVideo))
        {
            <MudItem xs="12" sm="12" md="6">

                <MudCard Class="mb-8">
                    <MudCardContent>

                        <video style="width: 100%" controls>
                            <source src="@consultant.ProfileVideo" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>

                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Contact @consultant.FirstName</MudButton>
                    </MudCardActions>
                </MudCard>

            </MudItem>
        }

        <MudItem xs="12" sm="12" md="8">
            <AboutSection ConsultantProfile="consultant" />
        </MudItem>

        <MudItem xs="12" sm="12" md="4">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-space-between align-center">
                        <MudText Typo="Typo.h5" Class="mb-4">
                            Information
                        </MudText>

                        <MudIconButton Icon="@Icons.Material.Filled.Edit" />
                    </div>

                    <dl class="dl-horizontal">
                        <dt>Region</dt>
                        <dd>@consultant.Organization.Name</dd>
                        <dt>Competence Area</dt>
                        <dd>@consultant.CompetenceArea.Name</dd>
                        @if (consultant.AvailableFromDate != null)
                        {
                            <dt>Available</dt>
                            <dd>
                                @if (consultant.AvailableFromDate?.DateTime.Date > DateTime.Now.Date)
                                {
                                    <span>@consultant.AvailableFromDate?.DateTime.Date.ToString("yyyy/MM/dd")</span>
                                }
                                else
                                {
                                    <span>Immediately</span>
                                }
                            </dd>
                        }
                        @if (!string.IsNullOrEmpty(consultant.PhoneNumber))
                        {
                            <dt>Phone</dt>
                            <dd><a href="tel:@consultant.PhoneNumber">@consultant.PhoneNumber</a></dd>
                        }
                        @if (!string.IsNullOrEmpty(consultant.Email))
                        {
                            <dt>Email</dt>
                            <dd><MudLink Href="@("mailto:" + consultant.Email)">@consultant.Email</MudLink></dd>
                        }
                    </dl>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <ExperienceSection ConsultantProfileId="@Id" />
        </MudItem>

        <MudItem xs="12" sm="12" md="12">
            <SkillsSection />
        </MudItem>
    </MudGrid>
}

@code {
    private ConsultantProfileDto? consultant;
    private bool loadingFailed = false;

    [Parameter]
    public string Id { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        loadingFailed = false;

        #if DEBUG

        await Task.Delay(2000);

        #endif

        try
        {
            consultant = await ConsultantsClient.GetConsultantAsync(Id);
        }
        /*catch (ApiException exc)
        {
        }
        catch (HttpRequestException exc)
        {
        }*/
        catch (Exception exc)
        {
            loadingFailed = true;
            //await JSHelpers.Alert(exc.Message);
        }

        StateHasChanged();
    }
}
