@inject IPersonProfilesClient PersonProfilesClient
@inject ISkillsClient SkillsClient
@inject ISnackbar Snackbar
@inject IDialogService DialogService 

<MudCard Elevation="25">
    <MudCardContent>
        <div class="d-flex justify-space-between align-center mb-4">
            <MudText Typo="Typo.h5">
                Skills
            </MudText>

            <div>
                
            @if (IsEditing)
            {
                <MudIconButton Icon="@Icons.Filled.Add" OnClick="AddSkillClicked" />
            }

            <MudIconButton Icon="@(IsEditing ? Icons.Material.Filled.Close : Icons.Material.Filled.Edit)" OnClick="ToggleEdit" />
            </div>
        </div>

        @foreach (var skillGroup in SkillAreas)
        {
            <section class="mb-4">
                <MudText Typo="Typo.h6">
                    @skillGroup.Name
                </MudText>

                <MudChipSet Class="mt-2">
                    @foreach (var skill in skillGroup.Skills)
                    {
                        @if (IsEditing)
                        {
                            <MudChip OnClose="async () => await RemoveSkill(skillGroup, skill)">@skill.Skill.Name</MudChip>
                        }
                        else
                        {
                            <MudTooltip>
                                <ChildContent>
                                    <MudChip Size="Size.Medium" OnClick="async () => await OnSkillClicked(skill)">@skill.Skill.Name</MudChip>
                                </ChildContent>
                                <TooltipContent>
                                    <MudText Typo="Typo.h6">@skill.Skill.Name</MudText>
                                </TooltipContent>
                            </MudTooltip>
                        }
                    }
                </MudChipSet>
            </section>
        }

    </MudCardContent>
</MudCard>

@code {
    [Parameter]
    public string PersonProfileId { get; set; } = null!;

    [Parameter]
    public bool IsEditing { get; set; }

    [Parameter]
    public EventCallback OnUpdated { get; set; }

    public SkillDto Skill { get; set; }

    public List<SkillArea> SkillAreas  { get; set; } = new List<SkillArea>();

    protected override async Task OnInitializedAsync()
    {
        await LoadSkills();
    }

    async Task LoadSkills() 
    {
        var skills = await PersonProfilesClient.GetSkillsAsync(PersonProfileId, 1, 150, null, null, null);

        foreach(var skill in skills.Items)
        {
            var skillGroup = SkillAreas.FirstOrDefault(x => x.Id == skill.Skill.Area.Id);
            if(skillGroup is null)
            {
                skillGroup = new SkillArea() {
                    Id = skill.Skill.Area.Id,
                    Name = skill.Skill.Area.Name
                };

                SkillAreas.Add(skillGroup);

                SkillAreas = SkillAreas.OrderBy(x => x.Name).ToList();
            }

            skillGroup.Skills.Add(skill);
        }
    }

    async Task AddSkill(PersonProfileSkillDto personProfileSkill)
    {
        var skillGroup = SkillAreas.FirstOrDefault(x => x.Id == personProfileSkill.Skill.Area.Id);
        if(skillGroup is null)
        {
            skillGroup = new SkillArea() {
                Id = personProfileSkill.Skill.Area.Id,
                Name = personProfileSkill.Skill.Area.Name
            };

            SkillAreas.Add(skillGroup);

            SkillAreas = SkillAreas.OrderBy(x => x.Name).ToList();
        }

        var skill = skillGroup.Skills.FirstOrDefault(x => x.Skill.Id == personProfileSkill.Skill.Id);

        if(skill is not null)
        {
            Snackbar.Add($"The skill \"{skill.Skill.Name}\" has already been added.", Severity.Error);

            Skill = null;
            return;
        }

        skillGroup.Skills.Add(personProfileSkill);

        Skill = null;
    }

    async Task RemoveSkill(SkillArea skillGroup, PersonProfileSkillDto skill)
    {
        await PersonProfilesClient.RemoveSkillAsync(PersonProfileId, skill.Skill.Id);

        skillGroup.Skills.Remove(skill);

        if (!skillGroup.Skills.Any())
        {
            SkillAreas.Remove(skillGroup);
        }
    }

    void ToggleEdit() => IsEditing = !IsEditing;

    public class SkillArea
    {
        public string Id { get; set; } = null!;

        public string Name { get; set; } = null!;

        public List<PersonProfileSkillDto> Skills  { get; set; } = new List<PersonProfileSkillDto>();
    }

    async Task OnSkillClicked(PersonProfileSkillDto dto)
    {
        try
        {
            var parameters = new DialogParameters();
            parameters.Add(nameof(SkillDialog.PersonProfileId), PersonProfileId);
            parameters.Add(nameof(SkillDialog.PersonProfileSkillId), dto.Id);

            var dialogReference = DialogService.Show<SkillDialog>($"Update {dto.Skill.Name}", parameters, new DialogOptions {
                //FullScreen = true,
                MaxWidth = MaxWidth.ExtraLarge
            });
            var result = await dialogReference.Result;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    async Task AddSkillClicked()
    {
        try
        {
            var parameters = new DialogParameters();
            parameters.Add(nameof(SkillDialog.PersonProfileId), PersonProfileId);

            var dialogReference = DialogService.Show<SkillDialog>("Add new skill", parameters, new DialogOptions {
                //FullScreen = true
                MaxWidth = MaxWidth.ExtraLarge
            });
            var result = await dialogReference.Result;

            if(result.Cancelled)
                return;

            await AddSkill((PersonProfileSkillDto)result.Data);

            await OnUpdated.InvokeAsync();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
