@inject ISnackbar Snackbar
@using System.Reflection

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="_assemblies">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found - YourBrand</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    Assembly[] _assemblies = new[] {
            typeof(YourBrand.TimeReport.Projects.Activities.ActivityDialog).Assembly,
            typeof(YourBrand.Showroom.Consultants.ConsultantsPage).Assembly,
            typeof(YourBrand.Accounting.ServiceExtensions).Assembly,
            typeof(YourBrand.Invoices.ServiceExtensions).Assembly,
            typeof(YourBrand.Transactions.ServiceExtensions).Assembly,
            typeof(YourBrand.Documents.ServiceExtensions).Assembly,
            typeof(YourBrand.Messenger.ServiceExtensions).Assembly,
            typeof(YourBrand.RotRutService.ServiceExtensions).Assembly,
            typeof(YourBrand.Customers.ServiceExtensions).Assembly,
            typeof(YourBrand.HumanResources.ServiceExtensions).Assembly
    };

    protected override void OnInitialized()
    {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;
    }
}
