@inject ISnackbar Snackbar

<MudThemeProvider Theme="currentTheme" />
<MudDialogProvider MaxWidth="MaxWidth.Medium" />
<MudSnackbarProvider />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new [] { typeof(YourBrand.TimeReport.Projects.Activities.ActivityDialog).Assembly, typeof(YourBrand.Showroom.Consultants.ConsultantsPage).Assembly, typeof(YourBrand.Accounting.ServiceExtensions).Assembly,typeof(YourBrand.Invoices.ServiceExtensions).Assembly, typeof(YourBrand.Transactions.ServiceExtensions).Assembly  }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found - YourBrand</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    MudTheme currentTheme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Roboto", "sans-serif" }
            }
        },
        Palette = new Palette
        {
            AppbarBackground = "#242222",
            Primary = "#63a9cb",
            //Secondary = "#00000000"
        }
    };

    protected override void OnInitialized()
    {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;
    }
}
