@page "/products/{productId}/options/groups"
@inject IProductsClient ProductsClient
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<PageTitle>Products</PageTitle>

@if (product is null)
{
    <span>Loading...</span>
}
else
{
    <PageTitle>@product.Name (@product.Sku)</PageTitle>

    <MudText Typo="Typo.h3" Align="Align.Center" Class="mb-12">Option Groups</MudText>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateGroup" StartIcon="@Icons.Material.Filled.Add" Class="my-2">Create group</MudButton>

    <MudTable T="ApiOptionGroup" Items="optionGroups"
              Dense="true" Hover="true">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate Context="group">
            <MudTd DataLabel="Name">@group.Name</MudTd>
            <MudTd DataLabel="Description">@group.Description</MudTd>
            <MudTd>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="async () => await UpdateGroup(group)" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="async () => await DeleteGroup(group)" />
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>No matching records found</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Loading...</MudText>
        </LoadingContent>
    </MudTable>
}

@code
{
    ApiProduct? product;
    List<ApiOptionGroup>? optionGroups;

    [Parameter]
    public string? ProductId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await ProductsClient.GetProductAsync(ProductId);
        optionGroups = (await ProductsClient.GetOptionGroupsAsync(ProductId)).ToList();
    }

    async Task CreateGroup()
    {
        DialogParameters parameters = new();
        parameters.Add(nameof(CreateProductOptionGroupModal.ProductId), ProductId);

        var modalRef = DialogService.Show<CreateProductOptionGroupModal>("Create Group", parameters);

        var result = await modalRef.Result;

        if (result.Cancelled) return;

        optionGroups.Add((ApiOptionGroup)result.Data);
    }

    async Task UpdateGroup(ApiOptionGroup optionGroup)
    {
        DialogParameters parameters = new();
        parameters.Add(nameof(UpdateProductOptionGroupModal.ProductId), ProductId);
        parameters.Add(nameof(UpdateProductOptionGroupModal.OptionGroup), optionGroup);

        var modalRef = DialogService.Show<UpdateProductOptionGroupModal>("Update Group", parameters);

        var result = await modalRef.Result;

        if (result.Cancelled) return;

        var index = optionGroups!.IndexOf(optionGroup);

        optionGroups[index] = (ApiOptionGroup)result.Data;
    }

    async Task DeleteGroup(ApiOptionGroup optionGroup)
    {
        var modalResult = await DialogService.ShowMessageBox("Delete the group?", "The group will be deleted, but the options will remain.\nThis cannot be undone.", yesText: "Yes", noText: "No");
        if (!modalResult.GetValueOrDefault())

        {
            return;
        }

        await ProductsClient.DeleteOptionGroupAsync(ProductId, optionGroup.Id);

        optionGroups.Remove(optionGroup);
    }
}

