@model dynamic

<style>
    body {
        font-family: 'Helvetica', 'Arial', sans-serif;
    }
</style>

<h1>Invoice @Model.InvoiceNo</h1>

<p>@Model.Status</p>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>VAT Rate (%)</th>
            <th>VAT</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Items)
        {
        <tr>
            <td>@item.Description</td>
            <td>@item.Price.ToString("c")</td>
            <td>@item.Quantity</td>
            <td>@item.Unit</td>
            <td>@(item.VatRate * 100)</td>
            <td>@item.Vat.ToString("c")</td>
            <td>@item.Total.ToString("c")</td>
        </tr>
        }
    </tbody>
</table>

<p>Sub Total: @Model.SubTotal.ToString("c")</p>
<p>VAT: @Model.Vat.ToString("c")</p>
@if(Model.DomesticService != null)
{
 <p>RUT/ROT: @Model.DomesticService?.RequestedAmount?.ToString("c")</p>
}
<p>Total: @Model.Total.ToString("c")</p>"
