@page "/ledger"
@using Accounting
@inject NavigationManager NavigationManager
@inject ILedgerEntriesClient LedgerEntriesClient
@inject IJournalEntriesClient JournalEntriesClient 

<AppPageTitle>@title</AppPageTitle>

<MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true" Class="mt-4 mb-8">@title</MudText>

@if(journalEntry is not null)
{
    <MudCard Class="mb-4" Elevation="25">
        <MudCardContent>
            <MudText Typo="@Typo.subtitle1">@journalEntry.Date.Date.ToShortDateString()</MudText>
            <MudText Typo="@Typo.body1">@journalEntry.Description</MudText>

            @if(journalEntry.InvoiceNo is not null) 
            {
                <div class="mt-4">
                    <MudText Typo="@Typo.subtitle2">Invoice</MudText>
                    <MudLink Typo="@Typo.body1" Href="@($"/invoices/{journalEntry.InvoiceNo}")" Class="mt-4">@journalEntry.InvoiceNo</MudLink>
                </div>
            }

            <div class="mt-4">
                @if (journalEntry.Verifications.Any())
                {
                    <MudText Typo="@Typo.subtitle2">Attachment</MudText>
                    @foreach (var attachment in journalEntry.Verifications)
                    {
                        <MudLink Typo="@Typo.body1" Href="@attachment.Url">@attachment.Name</MudLink>
                    }
                }
            </div>
        </MudCardContent>
    </MudCard>
}

<MudTable @ref="table" ServerData="@(new Func<TableState, Task<TableData<LedgerEntryDto>>>(ServerReload))" Elevation="25" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@loading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Date</MudTh>
        <MudTh>Journal Entry</MudTh>
        <MudTh colspan="2">Account</MudTh>
        @*
        <MudTh>Debit</MudTh>
        <MudTh>Credit</MudTh
        *@
        <MudTh>Amount</MudTh>
    </HeaderContent>
    <RowTemplate Context="entry">
        <MudTd DataLabel="Date">@entry.Date.Date.ToShortDateString()</MudTd>
        <MudTd DataLabel="Journal Entry">
            <MudLink Href="@($"/ledger?journalEntryId={entry.Verification.Id}")">@entry.Verification.Id</MudLink>
        </MudTd>
        <MudTd DataLabel="Account No"><MudLink Href="@($"/accounts/{entry.Account.AccountNo}")">@entry.Account.AccountNo</MudLink></MudTd>
        <MudTd DataLabel="Account Name">@entry.Account.Name</MudTd>
        @*
        <MudTd DataLabel="Debit">@entry.Debit?.FormatCurrency(currency)</MudTd>
        <MudTd DataLabel="Credit">@entry.Credit?.FormatCurrency(currency)</MudTd>
        *@
        <MudTd DataLabel="Amount">@((entry.Debit.GetValueOrDefault() - entry.Credit.GetValueOrDefault()).FormatCurrency(currency))</MudTd>
    </RowTemplate>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code
{
    string currency = "SEK";

    MudTable<LedgerEntryDto>? table = null!;
    JournalEntryDto? journalEntry;

    string title = "Ledger";
    bool loading = false;

    [SupplyParameterFromQuery]
    [Parameter]
    public int? JournalEntryId { get; set; }

    protected override void OnInitialized()
    {
        title = $"Ledger";

        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs ea)
    {
        if (table is not null)
        {
            table.CurrentPage = 0;
            await table.ReloadServerData();
        }
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private async Task<TableData<LedgerEntryDto>> ServerReload(TableState state)
    {
        loading = true;

        try
        {
            var result = await LedgerEntriesClient.GetLedgerEntriesAsync(null, JournalEntryId, state.Page, state.PageSize, ResultDirection.Desc);

            Console.WriteLine($"JournalEntryId: {JournalEntryId}");

            if (JournalEntryId is not null)
            {
                var description = result.Entries.First().Verification.Description;

                title = (!string.IsNullOrEmpty(description) ? $"{JournalEntryId} - {description}" : JournalEntryId.ToString())!;

                journalEntry = await JournalEntriesClient.GetJournalEntryAsync(JournalEntryId.GetValueOrDefault());
            }
            else
            {
                title = $"Ledger";
                journalEntry = null;
            }

            StateHasChanged();

            return new TableData<LedgerEntryDto>() { TotalItems = result.TotalItems, Items = result.Entries };
        }
        finally
        {
            loading = false;
        }
    }
}