<ul>
    @foreach (var item in Agenda.Items)
    {
        <li class="mb-2">
            @if (item.Id == AgendaItemId)
            {
                <MudText Typo="@Typo.body1" Class="mb-2"><b>@item.Order. @item.Title</b></MudText>

            }
            else
            {
                <MudText Typo="@Typo.body1" Class="mb-2">@item.Order. @item.Title</MudText>
            }
        </li>
    }
</ul>

@code 
{
    [Parameter]
    public Agenda Agenda { get; set; }

    [Parameter]
    public string AgendaItemId { get; set; }
}