<MudText Typo="Typo.h4" GutterBottom="true">@Motion.Title</MudText>

<MudText Typo="Typo.body1">@Motion.Text</MudText>


<MudText Typo="Typo.h6" GutterBottom="true" Class="mt-4">Clauses</MudText>

<ul>
    @foreach(var clause in Motion.OperativeClauses) 
    {
        <li class="mb-2">
            @if (clause.Id == OperativeClauseId)
            {
                <MudText Typo="@Typo.body1" Class="mb-2"><b>@clause.Order. @clause.Text</b></MudText>

            }
            else
            {
                <MudText Typo="@Typo.body1" Class="mb-2">@clause.Order. @clause.Text</MudText>
            }
        </li>
    }
</ul>

@code 
{
    [Parameter]
    public Motion Motion { get; set; }

    [Parameter]
    public string? OperativeClauseId { get; set; }
}