@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@using YourBrand.Portal.Services
@using YourBrand.Meetings
@attribute [Authorize]
@inject IStringLocalizer<DisplayPage> T
@inject IMeetingsClient MeetingsClient
@inject IAgendasClient AgendasClient
@inject IMotionsClient MotionsClient
@inject IDiscussionsClient DiscussionsClient
@inject NavigationManager NavigationManager
@inject IOrganizationProvider OrganizationProvider
@inject YourBrand.Portal.Services.IAccessTokenProvider AccessTokenProvider
@inject IUserContext UserContext
@inject ISnackbar Snackbar
@implements IDisposable
@implements IDiscussionsHubClient

<MudText Typo="@Typo.h6" GutterBottom="true" Class="mt-4">Now</MudText>

@if (CurrentSpeaker is not null)
{
    <MudText Typo="@Typo.body1" GutterBottom="true">@CurrentSpeaker.Name</MudText>
}
else
{
    <MudText Typo="@Typo.body1" GutterBottom="true">No speaker</MudText>
}

<MudText Typo="@Typo.h6" GutterBottom="true" Class="mt-4">Speakers' queue</MudText>

<ul>
    @foreach (var speakerRequest in speakerQueue)
    {
        <li @key="speakerRequest.Id">
            @if (speakerRequest.Id == currentSpeaker?.Id)
            {
                <MudText Typo="@Typo.body1" Class="mb-2"><b>@speakerRequest.Name</b></MudText>
            }
            else
            {
                <MudText Typo="@Typo.body1" Class="mb-2">@speakerRequest.Name</MudText>
            }
        </li>
    }
</ul>